:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

*{
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62%;
    line-height: 16px;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.column_2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.column_10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.33333;
}
.error{
    display: flex;
    min-width: 30rem;
    width: 70%;
    margin: 0 15%;
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.good{
    display: flex;
    min-width: 30rem;
    width: 70%;
    margin: 0 15%;
    color: #D63301;
    background-color: #baffbc;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}